@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@jumbotron-bg: #eee;
@logo: '../images/main-logo.png';
html,
body {
  height: 100%;
  position: relative;
}

body {
  background-color: @body-bg;

  main {
    article {
      posotion: relative;
      min-height: 100px;
    }
  }
}
