
body {
  & > .container {
    padding-top: 71px;
  }
}

main {
  .list-group-item-heading {
    margin-bottom: 0;
  }
  .category-page {

    .panel-title {
      font-size: 23px;
    }
  }

  .jumbotron {
    background-color: @jumbotron-bg;
    h3 {
      font-size: 64px;
    }
    p {
      text-align: center;
    }
  }
  .page-header {
    padding-bottom: 0;
  }
  .done-btn-wrapper {
    margin: 45px 0 0;
    .done-btn {
      width: 100%;
    }
  }
  &.topic {
    .panel-body{
      .list-group{
        margin-bottom: 0;
      }
    }
  }

  article {
    &.panel {
      position: relative;
      #loader-wrapper {
        background: rgba(9, 9, 9, 0.7);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        #loader-parent {
          position: absolute;
          width: 100px;
          height: 100px;
          top: 50%;
          right: 50%;
          margin-right: -50px;
          margin-top: -50px;
          #loader_1 {
            position: absolute;
            top: 0;
            left: 0;
            border-top: 2px solid #3498db;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            animation: spin 2s linear infinite;
          }
          #loader_2 {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 80px;
            height: 80px;
            margin-left: -40px;
            margin-top: -40px;
            border-radius: 50%;
            border-bottom: 2px solid yellow;
            animation: reversespin 1.5s linear infinite;
          }
        }

      }
    }
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes reversespin {
  0% { transform: rotate(360deg); }
  100% { transform: rotate(0deg); }
}

#logo {
  background-image: url(@logo);
  width: 200px;
  height: 50px;
}

.footer {
  width: 100%;
  height: 60px;
  margin-top: 20px;
  background-color: #f5f5f5;
}